/* Code box-sizing property across "all" so that all elements' width/height properties INCLUDES content, padding and border. This ensures that the div has a full width of Xpx, no matter padding or border. It helps to eliminate the complexity that comes from widths that come from multiple properties/no longer have to perform mental math. */
* {
    box-sizing: border-box; 
}

body {
    margin: 0 auto;
    background-image: url(../images/what-the-hex-dark.png)
}

/* Font for all headings */
h1, h2, {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    color: #4aaaa5;
}

/* Font for all fonts other that headings */
p, footer, nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* HEADER ACROSS ALL PAGES */
.top {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    border-bottom: 3px solid #777777;
}

    .top-container {
        background-color: #ffffff;
        width: 960px;
        margin: 0 auto;
    }

        h1 {
            background-color: #4aaaa5;
            color: white;
            float: left;
            margin: 0px;
            padding: 20px;
        }

        nav {
            color: #777777;
            float: right;
            padding-top: 30px;
        }
            span {
                color: #777777;
            }

            nav > a {
                color: #777777;
                text-decoration: none;
            }

/* CONTENT CONTAINER ACROSS ALL PAGES */
.middle {
    background-color: #ffffff;
    border: 3px solid #777777;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;   
    
}


section {
    margin: 20px;
}

    h2 {
        color: #4aaaa5;
    }

        hr {
            color: #777777;
        }

        #profile-photo {
            float: left;
            margin: 10px 10px 0px 0px;   
        }

        p {
            color: #777777;
            line-height: 2.0;
        }

/* FOOTER */
footer {
    background-color: #4aaaa5;
    border-top: 5px solid #777777;
    padding-top: 30px;
    text-align: center;
    font-size: small;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


    